<!-- 
<div class="login signup add-amount">
  <div class="tip-lobby back-lobby">
    <div class="tip-dealer_submit row">
      <button class="button" type="submit" ui-sref="lobby">Back to lobby</button>
    </div>
  </div>
  <div class="logo mar-t">
    <img src="img/login/logo.jpg">
  </div>
  <div class="login_block">
    <form name="signup">
      <div class="login_button row">
        <i class="icon ">&#x20b9;</i>
        <input class="col bg-yellow padd-lr" type="text" name="amount" ng-model="table.coins" placeholder="0000"
          required>
      </div>
      <div class="login_button_submit row">
        <button class="button" type='submit' ng-click="buyCoins(table.coins)" promise-btn="buyCoinsPromise">PROCEED</button>
      </div>
      <div>
        <p>*minimum amount to be withdrawn should be 1000/- *withdrawl process only on Tuesdays and Friday
        </p>
      </div>
    </form>
  </div>
  <ion-content class="table-top">
    <div class="transaction-history">

      <ion-list>
        <ion-title class="table-heading">TRANSACTION HISTORY</ion-title>

        <ion-item class="item">
          <div class="row">
            <div class="col-25 text-center">
              <div class="">Date</div>
            </div>
            <div class="col-25">
              <div class=" text-center">Amount</div>
            </div>
            <div class="col-25">
              <div class=" text-center">Status</div>
            </div>
            <div class="col-25">
              <div class=" text-center">Balance</div>
            </div>
          </div>
        </ion-item>
        <ion-item collection-repeat="data in withdrawDetails" class="table-heading">
          <div class="row transaction-row">
            <div class="col-25 ">
              <div class="bold ">{{data.updatedAt | date:'d-MMM-yy'}}</div>
            </div>
            <div class="col-25">
              <div class="text-center bold">{{data.amount | number}}</div>
            </div>
            <div class="col-25">
              <div class="text-center bold">{{data.transType}}</div>
            </div>
            <div class="col-25">
              <div class="text-center bold">{{data.balance | number}}</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
<div class="loader text-center" ng-if="!withdrawDetails">
  Loading ..
</div>
<ion-infinite-scroll on-infinite="loadMore()" icon="ion-loading-c"></ion-infinite-scroll>
</ion-content>
</div>
-->
<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBackToPage()"></button>
        <h1 class="title title-white">Add Money</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="add-withdraw padd-lr">
    <div class="input-select mar-bot padding-bottom">
      <div class="rel amt-label">
        <label for="amount">Deposit Money</label>
      </div>
      <input class="padd-lr bor-bot" type="number" name="amount" ng-model="addAmount" placeholder="₹ 1000">
    </div>

    <div class="add-withdraw-btn mar-auto text-center">
      <button class="button add-with-button pinkbg color-white">Add</button>
    </div>
  </ion-content>
</ion-view>
