<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBackToPage()"></button>
        <h1 class="title title-white">Change Password</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="profile-detail">
      <div class="list profile-detail-list change-password">
        <form name="profileData">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Old Password</span>
            <input type="password" class="padd-lr color-white bor-bot" name="oldPassword" placeholder="***" ng-model="data.oldPassword"
              required>
            <span class="valid" ng-show="profileData.oldPassword.$touched && profileData.oldPassword.$invalid">
              Old password is required
            </span>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">New Password</span>
            <input type="password" class="padd-lr color-white bor-bot" name="password" placeholder="***" ng-model="data.password"
              required ng-change="matchPasswords(data)">
            <span class="valid" ng-show="profileData.password.$touched && profileData.password.$invalid">
              Password is required
            </span>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm New Password</span>
            <input type="password" class="padd-lr color-white bor-bot" name="confirmPassword" placeholder="***"
              ng-model="data.confirmPassword" ng-change="matchPasswords(data)" required>
            <span class="valid" ng-show="profileData.confirmPassword.$touched && profileData.confirmPassword.$invalid">
              Confirm password is required
            </span>
          </label>
          <div class="change-pswd-errors">
            <span class="valid" ng-show="oldPasswdError">Old Password do not match</span>
            <span class="valid" ng-show="oldNewMatch">Old Password and New Password cannot be same</span>
            <span class="valid" ng-show="newConfirmMatch">New Password and Confirm Password do not match</span>
          </div>
          <div class="button-submit">
            <button class="button" type='submit' ng-disabled="profileData.$invalid || oldNewMatch || newConfirmMatch"
              ng-click="changePassword(data)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
