<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBackToPage()"></button>
        <h1 class="title title-white">Change Password</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="profile-detail">
      <div class="list profile-detail-list">
        <form name="profileData">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Old Password</span>
            <input type="text" class="padd-lr color-white bor-bot" name="userName" placeholder="John123">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">New Password</span>
            <input type="email" class="padd-lr color-white bor-bot" name="email" placeholder="sample@gmail.com">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm New Password</span>
            <input type="text" class="padd-lr color-white bor-bot" name="firstName" placeholder="ABC">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Captcha</span>
            <input type="text" class="padd-lr color-white bor-bot" name="lastName" placeholder="XYZ">
          </label>
          <label class="item item-input item-stacked-label item-captcha">
            <input type="text" class="padd-lr color-white bor-bot" name="captcha" value="1AjcD">
          </label>
          <div class="button-submit">
            <button class="button" type='submit' ui-sref="new-lobby">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
