<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBackToPage()"></button>
        <h1 class="title title-white">Forgot Password?</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="profile-detail">
      <div class="list profile-detail-list" ng-if="!showChangeForgotPassword && showEnterMobileNumber">
        <form name="mobileNumberForm">
          <label class="item item-input item-stacked-label wid80">
            <span class="input-label marbot">Enter Registered Mobile Number</span>
            <input type="text" class="padd-lr color-white bor-bot" name="mobile" only-digits placeholder="Enter Mobile number"
              ng-model="mobileNo" id="f_1" minlength="10" maxlength="10" required>
            <span class="valid" ng-if="mobileNumberForm.mobile.$touched && mobileNumberForm.mobile.$invalid ">
              Enter Valid Mobile Number.</span>
            <span class="valid" ng-if="numberError">{{notRegisteredNo}}</span>
          </label>
          <div class="button-submit">
            <button class="button" type='submit' ng-disabled="mobileNumberForm.$invalid" ng-click="enternumber(mobileNo)">Submit</button>
          </div>
        </form>
      </div>
      <div class="list profile-detail-list" ng-if="showChangeForgotPassword && !showEnterMobileNumber">
        <form name="changePasswordForm">
          <label class="item item-input item-stacked-label">
            <span class="input-label">New Password</span>
            <input type="password" class="padd-lr color-white bor-bot" name="password" placeholder="****" ng-model="forgotPassword.password"
              required>
            <span class="valid" ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$invalid">
              Please Enter Valid Password
            </span>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm New Password</span>
            <input type="password" class="padd-lr color-white bor-bot" name="confirmpassword" placeholder="****"
              ng-model="forgotPassword.confirmPassword" ng-change="matchPasswords(forgotPassword)" required>
            <span class="valid" ng-show="changePasswordForm.confirmpassword.$touched && changePasswordForm.confirmpassword.$invalid">
              Confirm password is required
            </span>
            <span class="valid" ng-show="notMatching">
              Password do not match
            </span>
          </label>
          <div class="button-submit">
            <button class="button" type='submit' ng-disabled="changePasswordForm.$invalid" ng-click="setNewPassword(forgotPassword)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
