<ion-content class="login no-scroll">
  <div class="signup">
    <div class="logo">
      <!-- <img src="img/login/logo.jpg"> -->
      <div class="logoText">
        <p>Ante</p>
        <p class="smallText">Poker</p>
      </div>
    </div>

    <!-- <video id="test_v  ideo" controls autoplay src="rtsp://your_rtsp_stream/url"></video> -->


    <div class="login_block">
      <form name="login">
        <div class="login_button row">
          <!-- <i class="icon ion-ios-telephone"></i>
          <input class="col bg-yellow padd-lr" type="text" name="mobile" ng-model="data.mobile" placeholder="Mobile No"
            minlength="10" maxlength="10" required> -->
          <input type="text" only-digits class="col padd-lr" name="mobile" ng-model="data.mobile" placeholder="Mobile No"
            minlength="10" maxlength="10" required>
        </div>
        <!--<span class="valid" ng-show="login.username.$touched && login.username.$invalid">*Username is Required</span>-->
        <span class="valid" ng-show="login.mobile.$touched && login.mobile.$invalid">* Mobile No. is required.</span>
        <div class="login_button row">
          <!-- <i class="icon ion-ios-locked"></i> -->
          <input class="col padd-lr" type="password" name="password" ng-model="data.password" placeholder="Password"
            required>
        </div>
        <span class="valid" ng-show="login.password.$touched && login.password.$invalid">* Password is required.</span>
        <div class="valid invailduser" ng-if="invalidUser && !login.$invalid">* Invalid Credentials</div>
        <div class="login_button_submit row">
          <!--<button class="button" type='submit' ng-disabled="login.$invalid" ng-click="playerLogin(data,login)" promise-btn="loginPromise">LOGIN</button>-->
          <button class="button martop0 marbot0" type='submit' ng-click="playerLogin(data,login)" ng-disabled="login.$invalid"
            promise-btn="loginPromise">LOGIN</button>
        </div>
        <div>
          <p class="forgot-pswd"><a ui-sref="forgot-password">Forgot Password?</a></p>
        </div>
        <div>
          <p class="account">New to AntePoker?</p>
        </div>
        <div class="login_button_submit row">
          <button class="button martop0" type='submit' ui-sref="signup">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
