<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="bar bar-header lobby-header">
      <div class="left-head">
        <img src="img/lobby/poker-coin-logo.png" alt="" class="poker-coin-logo">
        <p class="amount">8,76,543</p>
        <button class="plus-icon ion icon ion-plus pinkbg"></button>
      </div>
      <div class="right-icons">
        <button class="button button-icon ion icon ion-gear-b "></button>
        <button class="button button-icon ion icon ion-ribbon-b"></button>
        <span class="ribbon-badge badge">10</span>
        <button class="button button-icon ion icon ion-navicon-round"></button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="">
    <div class="row">
      <div class="col-50 text-center">
        <div class="tables-content padding">
          <div class="table-type">
            <h3 class="virtual">Virutal Poker</h3>
          </div>
          <img src="img/table.png" alt="" class="tables">
        </div>
      </div>
      <div class="col-50 text-center">
        <div class="tables-content padding">
          <div class="table-type">
            <h3 class="live">Live Poker</h3>
          </div>
          <img src="img/table.png" alt="" class="tables">
        </div>
        <div class="live-players">
          <ion-icon class="icon ion-person-stalker" name="ion-person-stalker"></ion-icon>
          <span class="player-num">320 Players</span>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
  <div class="bar bar-footer lobby-footer">
    <!-- <div class="title">Footer</div> -->
    <button class="button button-icon pinkbg refer-btn">Refer Friends</button>
    <div class="users-online">
      <!-- <i class="ion ion-ios7-person"></i> -->
      <ion-icon class="icon ion-person-stalker" name="ion-person-stalker"></ion-icon>
      <span class="player-num">320 Players</span>
    </div>
  </div>
</ion-view>
