<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button
          class="button button-icon icon ion-arrow-left-c"
          ng-click="goBackToPage()"
        ></button>
        <h1 class="title title-white">Account Statement</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="table-lists">
    <div class="pl-net-profit padding-bottom padding-right">
      Net Profit:
      <span class="net-amt">{{ netProfit }}</span>
    </div>
    <div class="clearfix"></div>

    <div class="profile-detail">
      <div class="table-type">
        <div class="pl-statement-filter input-select">
          <input
            class="col padd-lr"
            type="text"
            name="dob"
            placeholder="From Date"
            ng-click="openFromDatePicker()"
            ng-model="plStmtData.fromDate"
            required
          />
          <span>To</span>
          <input
            class="col padd-lr"
            type="text"
            name="dob"
            placeholder="To Date"
            ng-click="openToDatePicker()"
            ng-model="plStmtData.toDate"
            required
          />
        </div>
      </div>
      <div class="tableslist pl-statement">
        <!-- <ion-scroll direction="y" scrollbar-y="true" style="width:100%; height:100%"> -->
        <table>
          <tr>
            <th>Date</th>
            <th>Table Name</th>
            <th>W/L</th>
            <th>Bet Amt</th>
            <th>Amount</th>
          </tr>
          <tr ng-repeat="statementInfo in tableData ">
            <td>
              {{ statementInfo.createdAt | date: "dd/MM/yy" }} <br />{{
                statementInfo.createdAt | date: "HH:mm"
              }}
            </td>
            <td>
              {{ statementInfo.tableName }}
              <br />
              <span
                ng-if="statementInfo.gameType=='Omaha'"
                class="game-type omaha"
                >{{ statementInfo.gameType }}</span
              >
              <span
                ng-if="statementInfo.gameType!='omaha'"
                class=" game-type holdem"
                >{{ statementInfo.gameType }}</span
              >
            </td>
            <td>
              {{ statementInfo.transType == "tableLost" ? "Lose" : "Win" }}
            </td>
            <td>{{ statementInfo.betAmount || 0 }}</td>

            <td>
              <span>Amt: {{ statementInfo.amount }}</span
              ><br />
              <span>Comm: {{ statementInfo.commissionAmount || 0 }}</span>
            </td>
          </tr>
          <tr ng-if="tableData==''">
            <td colspan="5">No data Found</td>
          </tr>
        </table>

        <ion-infinite-scroll
          ng-if="!transactionsLoaded"
          on-infinite="onInfinite()"
          distance="2%"
          icon="ion-load-a"
        ></ion-infinite-scroll>
        <!-- </ion-scroll> -->
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- <span ng-if="statementInfo.transType=='tableLost'">Comm: --</span> -->
