<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button
          class="button button-icon icon ion-arrow-left-c"
          ng-click="goBackToPage()"
        ></button>
        <h1 class="title title-white">Refer And Earn</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="referral">
    <div class="profile-detail padding ">
      <div class="earn-money text-center mar-bot martop4">
        <h4 class="color-white mar-bot">
          Earn Upto
          {{ earningData.earnUpto }}
        </h4>
        <small ng-if="earningData.type=='Percent'"
          >Get {{ earningData.amount }} % for every friend you Invite.</small
        >
        <small ng-if="earningData.type=='Amount'"
          >Get {{ earningData.amount }} ₹ for every friend you Invite.</small
        >
      </div>

      <div class="referral-invites">
        <a
          href=""
          class="button button-block button-balanced greenbg"
          ng-click="shareOnWhatsapp()"
        >
          <!-- <i class="ion-help-buoy"></i> -->
          <img
            src="img/referral/whatsappLogo.svg"
            alt=""
            width="36"
            class="whatsapp-invite"
          />
          <span class="">Whatsapp Invite</span>
        </a>
        <a href="" class="button button-block yellowbg" ng-click="shareOnSms()">
          <!-- <i class="ion-chatbox-working"></i> -->
          <img src="img/referral/message.svg" alt="" width="26" />
          <span class="">Text Invite</span>
        </a>
        <a href="" class="button button-block bluebg" ng-click="socialShare()">
          <!-- <i class="ion-share"></i> -->
          <img src="img/referral/share.svg" alt="" width="26" />
          <span class="">Social Media Invite</span>
        </a>
        <div class="referral-code mar-bot">
          <p class="mb4">My Referral Code</p>
          <input type="text" ng-model="playerData.referralCode" readonly />
        </div>
        <div class="my-earings">
          <p class="mb4">My Earnings</p>
          <button class="button button-block">
            <!-- <i class="ion-share left padding-right earn"></i> -->
            <img
              src="img/referral/wallet.svg"
              alt=""
              width="26"
              class="whatsapp-invite"
            />
            <span class="left">{{ playerData.earnAmount }}</span>
            <i class="ion-chevron-right right"></i>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
