<div class="login signup">
  <div class="logo mar-t">
    <img src="img/login/logo.jpg">
  </div>
  <div class="login_block">
    <form name="signup">
      <div class="login_button row">
        <input class="col bg-yellow" type="name" name="username" placeholder="Name" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="email" name="password" placeholder="Email Id" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="number" name="password" placeholder="Mobile No" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="number" name="password" placeholder="Password" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="number" name="password" placeholder="Mobile No" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="date" name="password" placeholder="DOB" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="text" name="password" ng-model="data.password" placeholder="City" required>
      </div>
      <div class="login_button row">
        <input class="col bg-yellow" type="text" name="password" ng-model="data.password" placeholder="Country" required>
      </div>
      <div class="login_button_submit row">
        <button class="button bg-blue" type='submit' ng-disabled="login.$invalid" ng-click="playerLogin(data,login)" promise-btn="loginPromise">LOGIN</button>
      </div>

    </form>

  </div>
</div>
