<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBackToPage()"></button>
        <h1 class="title title-white">{{heading}} Poker Tables</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="table-lists">
    <div class="profile-detail">
      <div class="create-table">
        <div class="table-details left">
          <div class="user-count">
            <i class="ion-person-stalker"></i>
            <span>{{playersCount}} Players</span>
          </div>
          <div class="table-count padding-left">
            <i class="ion-toggle-filled"></i>
            <span>{{tableCount}} Tables</span>
          </div>
        </div>
        <div class="create-btn item-note">
          <button class="button button-small button-create" ng-click="createTable()">Create Private Table</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="filter-tablelist">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Search Table Name" ng-model="search">
            </label>
            <i class="icon ion-search placeholder-icon" ng-click="searchByName(search)"></i>
            <button class="button button-small icon filter-btn ion-funnel" ng-click="openFilterTableModal()">
            </button>
            <button class="button button-small icon filter-btn " ng-click="resetFilter()">Reset
              Filter
            </button>
          </div>
        </div>
      </div>
      <div class="table-type">
        <div class="row text-center">
          <div class="col-20 tab-item text-center" ng-class="{'selected': selectedTab=='All'}" ng-click="tableType('All')"><a>All</a>
          </div>
          <div class="col-25 tab-item text-center" ng-class="{'selected': selectedTab=='HoldEm'}" ng-click="tableType('HoldEm')"><a>Hold'Em</a></div>
          <div class="col-20 tab-item text-center" ng-class="{'selected': selectedTab=='Omaha'}" ng-click="tableType('Omaha')"><a>Omaha</a></div>
          <div class="col-35 tab-item text-center" ng-class="{'selected': selectedTab=='Private'}" ng-click="tableType('Private')"><a>My
              Private Table</a></div>
        </div>
      </div>

      <div class="tableslist" ng-if="tableLists.length>0">
        <!-- <ion-scroll direction="y" scrollbar-y="true" style="width:100%; height:100%"> -->
        <table>
          <tr>
            <th>Table</th>
            <th>Rates</th>
            <th>Players</th>
            <th>Buy-In</th>
          </tr>
          <tr ng-repeat="tableData in tableLists" ng-click="selectedTable(tableData)">
            <td>{{tableData.name}}<br>
              <small class="tabletime">{{tableData.createdAt|date:"dd/MM/yy HH:mm"}}</small></td>
            <td>{{tableData.smallBlind}}/{{tableData.bigBlind}}</td>
            <td>{{tableData.playerCount}}/{{maxPlayers}}</td>
            <td>{{tableData.minimumBuyin}}/{{tableData.maximumBuyin}}
              <br>
              <small class="tabletype" ng-class="{'type-omaha': tableData.gameType=='Omaha' && tableData.type=='Public','type-private': tableData.type=='Private','type-holdem': tableData.gameType!='Omaha' && tableData.type=='Public'}">{{tableData.type
                == 'Private' ? "Private" : "" }} {{tableData.gameType}}
              </small>
            </td>
          </tr>
        </table>
        <!-- </ion-scroll> -->
      </div>
      <div class="text-center">
        <h4 ng-if="tableLists.length==0">No Data Found</h4>
        <h4 ng-if="tableLists.length==undefined">Loading...</h4>
      </div>
    </div>
  </ion-content>
</ion-view>
