<!-- <ion-modal-view class="custom-model statement-model">

  <ion-content>
    <div class="close" ng-click="closeTransferStatement()">
      <i class="icon ion-close text_glow"></i>
    </div>
    <div class="heading">Transfer statement</div>
    <div class="top_field"> -->
<!-- Date within
      <select>
        <option selected>1 Day</option>
        <option>2 Day</option>
        <option>3 Day</option>
      </select>
      of
      <input type="text" ng-model="month"> -->
<!-- </div> -->

<!-- <div class="statement_content ">
      <table>
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>

        <tr class="border_btm" ng-repeat="data in transferStatementData" infinite-scroll="loadTransferMore()" infinite-scroll-distance="1"
          infinite-scroll-disabled="loadingDisable">
          <td> {{data.updatedAt | date:'d-MMM-yyyy h:mm a'}}</td>
          <td> {{data.fromUser.username}} </td>
          <td>{{data.toUser.username}}</td>
          <td ng-if="data.fromUser._id==memberId"> Debit</td>
          <td ng-if="data.toUser._id==memberId"> Credit</td>
          <td> {{data.amount}}</td>
        </tr>
      </table>
    </div> -->

<!-- 
    <div class="custom-table" ng-if="transferStatementData">
      <ion-list>
        <ion-item class="item">
          <div class="row">
            <div class="col-20">
              <div class="bold">Date</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">From</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">To</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">Type</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">Amount</div>
            </div>
          </div>
        </ion-item>
        <ion-item collection-repeat="data in transferStatementData" class="item">
          <div class="row">
            <div class="col-20">
              <div class="bold">{{data.updatedAt | date:'d-MMM-yyyy h:mm a'}}</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{data.fromUser.username}}</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{data.toUser.username}}</div>
            </div>
            <div class="col-20">
              <div class="text-center bold" ng-if="data.fromUser._id==memberId"> Debit</div>
              <div class="text-center bold" ng-if="data.toUser._id==memberId"> Credit</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{data.amount}}</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
     no Data found -->
<!-- <div class="loader bold" ng-if="noDataFound" ng-bind-html="displayMessage.main">
</div>
<div class="loader" ng-if="!transferStatementData">
  Loading ..
</div>
<ion-infinite-scroll on-infinite="loadMore()" icon="ion-loading-c"></ion-infinite-scroll>
</ion-content>
</ion-modal-view>  -->

<ion-view class="lobby">
  <ion-header-bar class="lobby-bar">
    <div class="profile-header header-title">
      <div class="bar bar-header lobby-header">
        <button
          class="button button-icon icon ion-arrow-left-c"
          ng-click="goBackToPage()"
        ></button>
        <h1 class="title title-white">Transfer Statement</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="table-lists">
    <div class="profile-detail">
      <div class="table-type">
        <div class="row text-center">
          <div
            class="col-50 tab-item text-center"
            ng-class="{'selected': selectedTab=='Add'}"
            ng-click="transferType('Add')"
          >
            <a>Add Money</a>
          </div>
          <div
            class="col-50 tab-item text-center"
            ng-class="{'selected': selectedTab=='Withdraw'}"
            ng-click="transferType('Withdraw')"
          >
            <a>Withdraw Money</a>
          </div>
        </div>
      </div>
      <div class="tableslist transfer-stmt">
        <table class="list">
          <thead>
            <tr class="row item">
              <th
                class=""
                ng-class="{'col-30': selectedTab=='Withdraw','col-40': selectedTab=='Add'}"
              >
                Date
              </th>
              <th class="col-20">Amount</th>
              <th class="col-15">Cr/Db</th>
              <th
                class=""
                ng-class="{'col-20': selectedTab=='Withdraw','col-25': selectedTab=='Add'}"
              >
                Balance
              </th>
              <th class="col-15" ng-if="selectedTab=='Withdraw'">Info</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row item" ng-repeat="transaction in allTransactions">
              <td
                class="transfer-info"
                ng-class="{'col-30': selectedTab=='Withdraw','col-40': selectedTab=='Add'}"
              >
                {{ transaction.createdAt | date: "dd-MM-yyyy HH:mm" }}
                <br />
                <p
                  class="transfer-status-head"
                  ng-if="selectedTab == 'Withdraw'"
                >
                  Status
                  <span
                    class="transfer-status"
                    ng-class="{'pending': transaction.status=='pending','completed': transaction.status=='Completed' || transaction.status=='Sent' }"
                    >{{ transaction.status }}</span
                  >
                </p>
              </td>
              <td class="col-20 transfer-info">{{ transaction.amount }}</td>
              <td class="col-15 transfer-info">
                {{ selectedTab == "Withdraw" ? "db" : "cr" }}
              </td>
              <td
                class="transfer-info"
                ng-class="{'col-20': selectedTab=='Withdraw','col-25': selectedTab=='Add'}"
              >
                {{ transaction.balance }}
              </td>
              <td class="transfer-info col-15" ng-if="selectedTab=='Withdraw'">
                <i
                  class="ion-information-circled"
                  ng-click="getTransactionInfo(transaction)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ion-infinite-scroll
        ng-if="!transactionsLoaded"
        on-infinite="onInfinite()"
        distance="2%"
        icon="ion-load-a"
      ></ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
