<div class="login signup add-amount">
  <div class="logo mar-t">
    <img src="img/login/logo.jpg">
  </div>
  <div class="login_block">
    <form name="signup">
      <div class="login_button row">
        <i class="icon ">&#x20b9;</i>
        <input class="col bg-yellow padd-lr" type="text" name="amount" ng-model="data.coins" placeholder="0000" required>
      </div>
      <div class="login_button_submit row">
        <button class="button" type='submit' ng-click="withdrawCoins(data.coins)">PROCEED</button>
      </div>
      <div>
        <p>*minimum amount to be withdrawn should be 1000/- *withdrawl process only on Tuesdays and Friday
        </p>
      </div>
    </form>
  </div>
  <div class="transaction-history">
    <table style="width:100%">
      <caption class="transaction">TRANSACTION HISTORY </caption>

      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Balance</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$50</td>
        <td>January</td>
        <td>$100</td>
      </tr>

    </table>
  </div>
</div>
