.account-profile {
  .profile-img {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    border: 2px solid $white;
    margin-top: 4em;
  }

  .profile-name {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 600;
  }
}

.account-bal {
  padding: 5px 25px;
  background: $pink-bg;
  // width: 100%;
  margin-top: 15px;
  margin: 15px 10px;
  text-align: -webkit-center;

  .ac-bal {
    display: -webkit-inline-box;
    text-align: initial;
  }

  .poker-coin-logo {
    max-width: 45px;
    max-height: 45px;
    vertical-align: -webkit-baseline-middle;
  }

  .amount {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    top: 15px;
    padding-left: 20px;
  }
}

.add-withdraw {
  margin-bottom: 5em;

  .btn-account {
    width: 95%;
    color: $white;
    font-weight: 700;
    font-size: 14px;

    img {
      float: left;
      margin: 7px -4px;
    }
  }

  .btn-add {
    background: $button-green;
  }

  .btn-withdraw {
    background: $button-yellow;
  }
}

.account-list {
  .item {
    border-style: hidden hidden solid hidden;
    border-width: 0px 0px 1px 0px;
    background: transparent;
    padding: 16px 35px;
    color: $white;
    border-color: rgba(221, 221, 221, 0.43);
  }
}

/**Referral Page**/
.referral {
  font-size: 14px;

  .earn-money {
    h4 {
      font-weight: 700;
    }
  }

  .referral-invites {
    width: 80%;
    margin: 12% auto 5%;

    a {
      margin: 6% 0px;

      i {
        font-size: 31px;
        float: left;
        padding: 3px 5px;
        color: white;
      }

      img {
        float: left;
        margin: 8px 5px;
      }

      span {
        font-weight: 600;
        color: $white;
      }
    }

    .private-referral-code {
      width: 100%;
    }

    .whatsapp-invite {
      float: left;
      margin: 8px 0px !important;
    }

    .mb4 {
      margin-bottom: 4px;
    }

    input {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 0px 0px;
      // height: 100%;
      font-weight: bold; // font-family: 'Cinzel-Bold';
      font-size: 1.3em;
      color: $white;
      // background-color: rgba(46, 89, 92, 0.62),
      background-color: $input-bg; // background-color: #2e595c;
    }

    .my-earings {
      button {
        margin-top: 0px;
        min-height: 35px;
        background-color: $input-bg;
        color: $white;

        .earn {
          font-size: 30px;
        }

        i {
          color: $white;
        }

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 80%;
        }
      }
    }
  }
}

.greenbg {
  background: #19a216;
}

.yellowbg {
  background: #a37e08;
}

.bluebg {
  background: #567ebd;
}

.martop4 {
  margin-top: 4em;
}
