.add-amount {
  .login_block {
    width: 76%;
  }
  .login_block .login_button_submit button {
    margin-top: 12%;
    margin-bottom: 5%;
    width: 70%;
  }
  p {
    font-size: 10px;
    line-height: 15px;
  }
}

.transaction {
  background: #ddcb77;
  color: #000;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 5px;
}

.transaction-history {
  margin: 4% 6%;
  .item {
    background-color: #221934;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: $light;
    border: none;
  }
  .table-heading {
    display: block; // padding-left: 18px;
    background-color: #ddcb77;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
  }
  .transaction-row {
    font-size: 1.1em;
  }
}

.table-top {
  top: 52em;
  bottom: 20px
}

.loader {
  letter-spacing: 2px;
}
