.lobby {
  background-color: $app-background;
  background-image: radial-gradient($button-bg, $app-background, $header-bg);
  // background-image: linear-gradient(to right, $header-bg, $button-bg, $header-bg);
  width: 100vw;
  height: 100vh;

  .top {
    position: relative;
    top: 0;
    z-index: 5;

    .right {
      .profile {
        display: flex;
        flex-direction: row;
        align-items: center;

        .pic {
          width: 10vw;
          margin: 5%;
          margin-right: 2%;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .info {
          white-space: nowrap;
          text-align: center;
          line-height: 1.8;
          font-size: 1em;
        }
      }
    }

    .left {
      .setting {
        margin: 10px;
        font-size: 2.5em;
      }
    }
  }

  .main {
    width: 100vw;
    height: 100vh;
    position: absolute;

    .logo {
      width: 40%;
      margin: 0 auto;
      margin-top: 5%;
      transition: all 500ms;
      opacity: 1;
      visibility: visible;

      img {
        max-width: 100%;
      }
    }

    .category {
      width: 95%;
      margin: 0 auto;
      transition: all 500ms;

      .col {
        // height: 44vh;
        padding: 10px;
        text-align: center;
        position: relative;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      span {
        font-size: 0.8em;
        padding-right: 4px;
        padding-left: 7px;
      }

      p {
        font-size: 0.7em;
        line-height: 1.5em;
      }

      .fnt-1em {
        font-size: 0.9em;
      }

      h6 {
        margin-bottom: 0px;
        font-weight: 600;
        letter-spacing: 0.7px;
        font-size: 1.1em;
      }
    }

    .custom_Card_button {
      line-height: 0.2;
      padding: 0px 5px;
      min-height: 20px;
      margin-bottom: 10%;
      text-align: center; // vertical-align: middle;
      color: $white;
      font-weight: bold;
      /* font-family: 'Cinzel-Bold'; */
      font-weight: bold;
      font-size: 0.8em;
      border: 0px;
    }

    .variation_type {
      width: 75%;
      opacity: 0;
      visibility: hidden;
      transition: all 500ms;
    }
  }

  .variation_active {
    .logo {
      transition: all 500ms;
      opacity: 0;
      visibility: hidden;
    }

    .play_type {
      margin-top: -10%;
      transition: 500ms;

      .play_now,
      .play_joker,
      .private_table {
        opacity: 0.3;
      }
    }

    .variation_type {
      transition: all 500ms;
      opacity: 1;
      visibility: visible;
    }
  }
}

.play_type {
  .row .col-25 {
    &:nth-child(1n + 0) .play_now {
      background: url("../img/lobby/card1.png") no-repeat;
      background-size: 100%;
    }

    &:nth-child(2n + 0) .play_now {
      background: url("../img/lobby/card2.png") no-repeat;
      background-size: 100%;
    }

    &:nth-child(3n + 0) .play_now {
      background: url("../img/lobby/card3.png") no-repeat;
      background-size: 100%;
    }

    &:nth-child(4n + 0) .play_now {
      background: url("../img/lobby/card4.png") no-repeat;
      background-size: 100%;
    }
  }
}

//card css
.card-heading {
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0;
}

.card-btn {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 15px;
}

.btn-yellow {
  background: linear-gradient(to bottom, rgb(74, 70, 14) 0%, #d0c81c 100%);
}

.btn-brown {
  background: linear-gradient(to bottom, #58351d 0%, #b84a1c 100%);
}

.btn-blue {
  background: linear-gradient(to bottom, #274e50 0%, #239996 100%);
}

.btn-green {
  background: linear-gradient(to bottom, #0a2b50 0%, #2a6ab2 100%);
}

.profile-pic {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 6% auto;
}

.user-name {
  color: $white;
  font-size: 1em;
  font-weight: 600;
  text-transform: capitalize;
  background: #803aca;

  &.user-amount {
    background: #6d33aa;
  }
}

//side menu for right side
//profile menu
.profile_menu {
  .menu_cont {
    width: 40%; // background: linear-gradient(to right, #331e48 30%, #291a3b 70%);
    // background: linear-gradient(to right, #9f63df 0%, #261638 60%, #261638 76%, #261638 85%, $black 100%);
    background-image: url("../img/lobby/sidebg.png");
    background-size: 100% 100%;
    height: 100%;
    transition: all 500ms;

    .close {
      position: absolute;
      font-size: 1.5em;
      padding: 1%;
    }

    .profile {
      display: flex;
      flex-direction: row;
      padding: 10%;
      padding-bottom: 5%;

      .details {
        flex: 0.75;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 2%;
        line-height: 1.5;

        .amt {
          .coin {
            width: 1em;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
      }

      .profile_pic {
        flex: 0.25;
        align-self: center;
      }
    }

    .menu_list {
      .list {
        overflow: scroll;
        height: 65vh;
      }

      .item {
        background: transparent;
        color: #cebd22;
        border: none;
        font-size: 1.1em;
        font-weight: 600;
        border-image: linear-gradient(
          to right,
          #5e3392 20%,
          #5b4771 50%,
          #4a2a6d 95%
        );
        border-bottom: 1px solid;
        border-image-slice: 2;
        padding: 3% 10%;

        i {
          padding-right: 5%;
          vertical-align: text-top;
          font-size: 1.2em;
        }

        .item-content {
          background: transparent;
          color: #cebd22;
          padding: 0px;
        }
      }
    }
  }
}

//side menu for right side
//settingmenu
.setting_menu {
  // background: url('../img/sidemenu_right_bg.png');
  // background: url('../img/sidemenu_bg.png');
  // background-size: 100% 100%;
  background: rgba(0, 0, 0, 0.5);

  .menu_cont {
    width: 40%; // background: url('../img/menu_bg.png');
    background-size: 100% 100%; // border: 1px solid transparent;
    height: 100%;
    transition: all 500ms;

    .heading {
      background: url("../img/menu_heading.png");
      background-size: 100% 100%;
      font-size: 1.5em;
      padding: 4% 5%;
      margin-left: 1px;
      margin-right: 1px;

      span {
        padding-left: 10%;
      }

      i {
        float: right;
        padding-right: 5%;
      }
    }

    .menu_list {
      a {
        background: none;
        padding: none;
      }

      .list {
        width: 100%;
        height: 100%;
      }
    }

    //to open from right
    .item {
      background: transparent;
      color: $white;
      border: none;
      font-size: 1em;
      border-image: linear-gradient(
        to right,
        rgba(254, 255, 255, 0) 5%,
        rgba(255, 255, 255, 0.671) 50%,
        rgba(160, 217, 239, 0) 95%
      );
      border-bottom: 1px solid;
      border-image-slice: 2;
      padding: 5% 10%;

      .item-content {
        background: transparent;
        color: $white; // padding: 4% 10%;
        padding: 0px;
      }

      .custom_toggle {
        display: inline-block;
        width: 5em;
        height: 3em; // background: red;
        position: absolute;
        right: 10%;
        top: 10%;

        &.toggle_on {
          // background: url("../img/on.png");
          background-size: 100% 100%; // width: 4em;
          // height: 2.5em;
          // top: 15%;
        }

        &.toggle_off {
          // background: url("../img/off.png");
          background-size: 100% 100%;
        }
      }
    }
  }
}

//side menu left
.heading-navigation {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

.amount-bg {
  background-image: url("../img/login/bgblue.png");
  width: 100%;
  height: 30px;
}

/**New Lobby**/
.lobby-bar {
  background: $app-background;

  .lobby-header {
    margin-top: 10px;
    background: $header-bg;
    padding-left: 0px;

    .left-head {
      background: $button-bg;
      padding: 5px 0 5px 5px;

      .amount {
        position: relative;
        font-size: large;
        transform: translate(-3%, -60%);
        padding: 0 10px;
        display: inline-block;
        font-weight: 700;
      }

      .poker-coin-logo {
        width: 30px;
        height: 30px;
        position: relative;
        top: -3px;
      }

      .bar .button,
      .bar button {
        line-height: 27px;
      }

      .plus-icon {
        border: 0px $pink-bg;
        position: relative;
        transform: translateY(-35%);
      }

      .ion {
        background: $pink-bg;
      }

      .ion-plus::before {
        color: $white;
        font-weight: 700;
        line-height: 27px;
        margin: 2px 0;
      }
    }

    .right-icons {
      position: absolute;
      right: inherit;
      padding-right: 10px;

      .button {
        margin-left: 5px;
      }

      .button-icon {
        background: $button-bg;
        // padding-left: 10px;
      }

      .button-icon::before {
        color: $white;
      }

      .ribbon-badge {
        position: absolute;
        top: -10px;
        right: 58px;
        font-size: 12px;
        padding: 2px;
        width: 19px;
        height: 19px;
        background-color: $pink-bg;
        color: $white;
      }

      .menu {
        position: relative;
        width: auto;
        background-color: transparent;
      }
    }
  }
}

.tables-content {
  transform: translateY(20%);
  // max-width: 275px;
  max-width: 235px;
  margin: 0 auto;
  // background: linear-gradient(to bottom, $button-bg, $app-background);
  background: $lobby-table;
  border-radius: 20px;

  .table-type {
    h3 {
      margin-bottom: 25px;
      font-weight: 700;
    }

    .virtual {
      // color: $pink-bg;
      color: $white;
      text-shadow: 3px -2px 1px #0b2634;
    }

    .live {
      // color: $button-yellow;
      color: $white;
      text-shadow: 3px -2px 1px #0b2634;
    }
  }

  .tables {
    max-width: 220px;
  }
}

.live-players {
  position: relative;
  top: 34%;
  transform: translate(18%, -75%);
}

.lobby-footer {
  background-color: transparent;
  background-image: none;
  padding: 0px;

  .refer-btn {
    border-radius: 0px;
    color: $white;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 15px !important;
  }

  .users-online {
    position: absolute;
    right: inherit;
    text-align: center;
    bottom: inherit;
    transform: translate(-13%, -30%);

    .ion-person-stalker {
      font-size: 25px;
    }

    .player-num {
      font-size: 16px;
      font-weight: 600;
      color: $white;
    }
  }
}

.pinkbg {
  background: $pink-bg;
}

.lobby-bg {
  background-color: $app-background;
  // background-image: radial-gradient($button-bg, $app-background, $header-bg);
  background-image: radial-gradient($app-background, $header-bg);

  .menu {
    top: 10px;
    background-color: $app-background;
    // background-image: radial-gradient($button-bg, $app-background, $header-bg);

    .main-menu {
      .item {
        background-color: $app-background;
        border-width: 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(221, 221, 221, 0.54);
        color: $white;
      }

      i {
        margin-right: 5px;
        font-size: 18px;
        line-height: 22px;
      }

      .nav-list {
        .list:last-child {
          margin-bottom: 25px;
        }

        .item-complex .item-content,
        .item-radio .item-content {
          background: transparent;
          padding: 0px;
        }
      }
    }

    .lobby-profile > img:first-child {
      max-width: 70px;
      max-height: 70px;
    }

    .lobby-profile {
      padding-left: 90px;

      .wallet-balance {
        margin-top: 4px;
        display: -webkit-box;

        img {
          max-width: 25px;
        }

        .amount {
          padding-left: 10px;
          color: $white;
          position: relative;
          top: 2px;
        }
      }

      .player-name {
        font-size: 20px;
        color: $white;
        margin: 4px 0 0 0;
      }

      .player-number {
        color: $pink-bg;
      }
    }
  }
}

.menu-open {
  .menu-content.lobby-bg {
    background-color: rgba(0, 0, 0, 0.77);
    background-image: none;
    opacity: 0.75;
  }

  .tables-content {
    background: #012223;
    opacity: 0.55;
  }

  .lobby-footer {
    visibility: hidden;
  }
}

.fw600 {
  font-weight: 600 !important;
}
