//login page scss
.platform-ios .login .login_block {
  width: 65%;
}

.login {
  // background: black; // background: url('../img/login/bg.png');
  background: linear-gradient(to top, #000000, black);
  background-size: cover; // background-position: 50%;
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    img {
      width: 100%;
    }
  }
  .login_block {
    // position: absolute;
    padding: 7%;
    width: 75%; // top: 52%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    margin-top: -15%;
    padding-bottom: 0;
    input {
      height: 8vh;
      width: 100%;
      border-radius: 6px; // background: url('../img/login/bgyellow.png');
    }
    .login_button_submit {
      // background: url('../img/login/submit_background.png'); // background-size: 100% 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .col-20 {
        padding: 0px;
      }
      button {
        line-height: 0.5;
        min-height: 30px;
        margin-top: 6%;
        margin-bottom: 10%; // background: none;
        text-align: center;
        vertical-align: middle;
        color: #e1c975;
        width: 100%;
        transform: translateY(10%); // background: linear-gradient(to bottom, rgba(152, 56, 83, 0.48) 0%, #983853 100%);
        background-image: url('../img/login/bgblue.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        font-weight: bold; // font-family: 'Cinzel-Bold';
        font-weight: bold;
        font-size: 1.7em;
        border: 0px;
      }
    }
    .login_button {
      height: 5em;
      border-radius: 5px;
      margin: 0 auto;
      margin: 6% 0;
      padding: 0;
      margin-top: 0px;
      position: relative;
      .col-20 {
        text-align: left;
      }
      .icon {
        font-size: 2em;
        color: #000;
        padding: 3%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      input {
        padding: 6px 0px;
        height: 100%;
        font-weight: bold; // font-family: 'Cinzel-Bold';
        font-size: 1.7em;
        color: #000;
      }
      input::placeholder {
        color: #000;
      }
    }
    .valid {
      color: red; // float: left;
      // padding-left: 5%;
      margin-top: 0%;
      line-height: 2;
      font-size: 1em;
      margin-bottom: -6%;
    }
    .invailduser {
      width: 100%;
    }
  }
}

/*--------------------------signup-------------------*/

.signup {
  .login_block {
    margin-top: -35%;
  }
  .bg-yellow {
    border: 10px solid transparent;
    border-image: url(../img/login/bgyellow.png) 58;
    background: #ddcb77;
  }
  .bg-blue {
    border: 10px solid transparent;
    border-image: url(../img/login/bgblue.png) 58;
    background: #ddcb77;
  }
  .padd-lr {
    padding: 3% 5% !important;
  }
  .account {
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 600;
  }
  .mar-t {
    margin-top: -23%;
  }
}
