.pie_loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16vh;
  height: 16vh;
  z-index: -1;
}

.wrapper {
  position: relative;
  background: #004568;
  border-radius: 50%;
  overflow: hidden;
}

@mixin timer($item, $duration, $size, $color, $border, $hover: running) {
  #{$item},
  #{$item} * {
    @include box-sizing(border-box);
  }
  #{$item} {
    width: $size;
    height: $size;
  }
  #{$item} .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: $color;
    border: #{$border};
  }
  #{$item} .spinner {
    left: 0;
    top: 0;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota $duration + s linear infinite;
  }
  #{$item}:hover .spinner,
  #{$item}:hover .filler,
  #{$item}:hover .mask {
    animation-play-state: $hover;
  }
  #{$item} .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa $duration + s steps(1, end) infinite reverse;
    border-left: none;
  }
  #{$item} .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa $duration + s steps(1, end) infinite;
  }
  @keyframes rota {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes opa {
    0% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }
}

@include timer(".wrapper", 25, 16vh, #ffe500, "5px solid #ffe500");
.custom-loader {
  margin: 10px auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #27143d;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
