<ion-modal-view class="custom-model statement-model">
  <div class="close" ng-click="closeACStatement()">
    <i class="icon ion-close text_glow"></i>
  </div>
  <div class="heading bg-purple">Account Statement</div>
  <ion-content>
    <div class="custom-table top-pad" ng-if="results">
      <ion-list>
        <ion-item class="item">
          <div class="row">
            <div class="col-60">
              <div class="bold">Date</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">W &amp; L</div>
            </div>
            <div class="col-20">
              <div class="bold text-center">amount</div>
            </div>
          </div>
        </ion-item>
        <ion-item collection-repeat="result in results" class="item">
          <div class="row">
            <div class="col-60">
              <div class="bold">{{result.createdAt | date:'d-MMM-yyyy h:mm a'}}</div>
            </div>
            <div class="col-20">
              <div class="text-center bold" ng-if="result.transType=== 'tableLost'">Lose</div>
              <div class="text-center bold" ng-if="result.transType=== 'tableWon'">Win</div>
            </div>
            <div class="col-20">
              <div class="text-center bold">{{result.amount}}</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <!-- no Data found -->
    <div class="loader bold" ng-if="noDataFound" ng-bind-html="displayMessage.main">
    </div>
    <div class="loader" ng-if="!results">
      Loading ..
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" icon="ion-loading-c"></ion-infinite-scroll>
  </ion-content>
</ion-modal-view>
