<ion-modal-view class="custom-model chatBoxModal">
  <ion-header-bar class="chat-header">
    <button
      class="button button-icon ion-close-round chat-close"
      ng-click="closeChatBox()"
    ></button
  ></ion-header-bar>
  <ion-content class="chat-box">
    <!-- <div class="heading">
      {{ message.heading }}
    </div>
    <div
      class="cont"
      ng-if="!message.error"
      ng-bind-html="message.content"
    ></div>
    <div class="cont" ng-if="message.error">
      ng-class="{'message-sent': player.user._id == activePlayer.user._id,'message-received': player.user._id != activePlayer.user._id}"
      <div ng-bind-html="message.content"></div>
    </div> -->

    <div class="chat-message" id="chatbox" ng-repeat="chat in tableChats">
      <div
        class=""
        ng-class="{'message-sent':chat.player == activePlayer[0].user._id
,'message-received':chat.player != activePlayer[0].user._id}"
      >
        <span class="sender-name">{{ chat.name }}</span>
        <span class="message-text">{{ chat.message }}</span>
        <span class="message-time">{{ chat.time }}</span>
      </div>
      <!-- <div class="message-received ">
        <span class="sender-name">Karan</span>
        <span class="message-text">Congratulations!</span>
        <span class="message-time">6 mins before</span>
      </div> -->
    </div>
  </ion-content>
  <ion-footer-bar class="chat-footer">
    <div class="side_show_btn" ng-if="chatActive">
      <div class="input-select">
        <input
          type="text"
          class="padd-lr"
          placeholder="Type Message"
          ng-model="chat.msg"
        />
      </div>
      <button
        ng-click="sendmessage(chat.msg) "
        class="button button-icon ion-paper-airplane msg-btn"
      ></button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
