<ion-modal-view class="custom-model otp-modal confirm-otp shadow-yellow ">
  <ion-content class="otp">
    <div class="heading"> OTP </div>
    <div class="  signup">
      <div class="login_block">
        <div>
          <p class="account">Thank you!<br>your account has been successfully verified</p>
        </div>
      </div>
    </div>
    <div class="side_show_btn">
      <button class="custom_button" ng-click=closeMessageModal()>Continue</button>
    </div>
  </ion-content>
</ion-modal-view>
