<ion-modal-view
  class="custom-model statement-model change_password-model form-update private_table"
>
  <!-- <ion-content>
    <div class="close" ng-click="closePrivateTable()">
      <i class="icon ion-close text_glow"></i>
    </div>
    <div class="heading">Create Private Table</div>
    <div class="field vertical_scroll" ng-if="!privateTableData">
      <form name="createTable">
        <div class="rel">
          <div class="login_button">
            <input type="text" name="tablename" ng-model="data.name" placeholder="Table Name*" required>
          </div>
          <span class="valid" ng-show="createTable.tablename.$touched && createTable.tablename.$invalid">* Table Name
            is required.</span>
        </div> -->

  <!-- <div class="rel">
            <div class="login_button">
              <input type="number" name="bootAmount" ng-model="data.bootAmt" placeholder="Boot Amount*" required>
            </div>
            <span class="valid" ng-show="createTable.bootAmount.$touched && createTable.bootAmount.$invalid">* Boot Amount is required.</span>
          </div> -->
  <!-- <div class="rel">
          <div class="login_button">
            <input type="number" name="blindLimit" ng-model="data.blindAmt" placeholder="Blind Amount*" required>
          </div>
          <span class="valid" ng-show="createTable.blindLimit.$touched && createTable.blindLimit.$invalid">* Blind
            Amount is required.</span>
        </div>
        <div class="rel">
          <div class="login_button">
            <input type="number" name="chalLimit" ng-model="data.chalAmt" placeholder="Chaal Amount*" required>
          </div>
          <span class="valid" ng-show="createTable.chalLimit.$touched && createTable.chalLimit.$invalid">* Chaal Amount
            is required.</span>
        </div>
        <div class="rel">
          <div class="login_button">
            <input type="number" name="tableShow" ng-model="data.tableShow" placeholder="Table show*" required>
          </div>
          <span class="valid" ng-show="createTable.tableShow.$touched && createTable.tableShow.$invalid">*Table show is
            required.</span>
        </div> -->
  <!-- <div class="rel">
            <div class="login_button">
              <input type="number" name="maxBlind" ng-model="data.blindAmt" placeholder="Max Blind*" required>
            </div>
            <span class="valid" ng-show="createTable.maxBlind.$touched && createTable.maxBlind.$invalid">*Max Blind is required.</span>
          </div> -->

  <!-- <button type="submit" class="custom_button" ng-click="createPrivateTable(data)" promise-btn="createPrivateTablePromise"
          ng-disabled="createTable.$invalid">Create</button>
      </form>
    </div>
    <div ng-if="privateTableData">
      <div class="private_data">
        <p>Your Password for Private Table {{privateTableData.name}} is {{privateTableData.password}}</p>
        <p>Please share this password to your friends !!</p>
      </div>
    </div>
  </ion-content> -->
  <ion-content class="createPrivateTable">
    <button
      class="button button-icon ion-close-circled cross-btn cancel"
      ng-click="closePrivateTable();"
    ></button>
    <div class="heading mar-bot">Create Private Table</div>
    <form name="createTable">
      <div class="input-select">
        <div class="rel mar-bot">
          <input
            class="padd-lr color-white bor-bot"
            type="text"
            placeholder="Table Name"
            name="name"
            ng-model="createTableData.name"
            required
          />
          <span
            class="valid"
            ng-show="createTable.name.$touched && createTable.name.$invalid"
          >
            *Table Name is required
          </span>
        </div>
        <div class="rel mar-bot">
          <div class="table-type modal-cont">
            <label class="container padd-right"
              >Hold'Em
              <input
                type="radio"
                name="radio"
                ng-value="true"
                ng-model="createTableData.holdem"
                ng-click="createTableData.omaha=false"
              />
              <span class="checkmark"></span>
            </label>
            <label class="container padd-right"
              >Omaha
              <input
                type="radio"
                name="radio"
                ng-value="true"
                ng-model="createTableData.omaha"
                ng-click="createTableData.holdem=false"
              />
              <span class="checkmark"></span>
            </label>
            <!-- <ion-radio>Hold'Em</ion-radio>
            <ion-radio>Omaha</ion-radio> -->
          </div>
          <span
            class="valid"
            ng-show="createTable.radio.$touched && createTable.radio.$invalid"
          >
            *Table Type is required
          </span>
        </div>

        <div class="row">
          <div class="col-50 padding-right">
            <div class="rel mar-bot">
              <input
                class="padd-lr color-white bor-bot "
                type="number"
                placeholder="Small Blind"
                name="smallBlind"
                ng-model="createTableData.smallBlind"
                ng-change="compareAmounts(createTableData.smallBlind,createTableData.bigBlind)"
                required
              />
              <span
                class="valid"
                ng-show="createTable.smallBlind.$touched && createTable.smallBlind.$invalid"
              >
                *Small Blind value is required
              </span>
            </div>
          </div>

          <div class="col-50 padding-left">
            <div class="rel mar-bot">
              <input
                class="padd-lr color-white bor-bot "
                type="number"
                placeholder="Big Blind"
                name="bigBlind"
                ng-model="createTableData.bigBlind"
                ng-change="compareAmounts(createTableData.smallBlind,createTableData.bigBlind)"
                required
              />
              <span
                class="valid"
                ng-show="createTable.bigBlind.$touched && createTable.bigBlind.$invalid"
              >
                *Big Blind value is required
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-50 padding-right">
            <div class="rel mar-bot">
              <input
                class="padd-lr color-white bor-bot"
                type="number"
                placeholder="Min Buy In"
                name="minimumBuyin"
                ng-model="createTableData.minimumBuyin"
                ng-change="compareBuyin(createTableData.minimumBuyin,createTableData.maximumBuyIn)"
                required
              />
              <span
                class="valid"
                ng-show="createTable.minimumBuyin.$touched && createTable.minimumBuyin.$invalid"
              >
                *Min Buy In value is required
              </span>
              <span class="valid" ng-show="buyInError"
                >*Minimum BuyIn should be smaller then Maximum BuyIn</span
              >
            </div>
          </div>
          <div class="col-50 padding-left">
            <div class="rel mar-bot">
              <input
                class="padd-lr color-white bor-bot"
                type="number"
                placeholder="Max Buy In"
                name="maximumBuyin"
                ng-model="createTableData.maximumBuyin"
                ng-change="compareBuyin(createTableData.minimumBuyin,createTableData.maximumBuyin)"
                required
              />
              <span
                class="valid"
                ng-show="createTable.maximumBuyin.$touched && createTable.maximumBuyin.$invalid"
              >
                *Max Buy In value is required
              </span>
              <span class="valid" ng-show="buyInErrorMax"
                >*Maximum BuyIn should be greater than Minimum BuyIn</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="create-table-btn text-center">
        <button
          class="button button-create-modal"
          ng-disabled="createTable.$invalid"
          ng-click="createPrivateTable(createTableData)"
        >
          Create Table
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
