<ion-modal-view class="room_summary room_summary-potrate small-model faq-modal">
  <ion-header>
    <ion-navbar>
      <ion-title>General Quetion </ion-title>
    </ion-navbar>

    <ion-toolbar>
      <ion-title>Poker Play</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title>Support</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="text-scroll">
      <p>
        Important-please read these terms and conditions carefully before accepting these agreements, then print these terms and
        conditions store them along with confirmation emails,SMS messages,additional terms, transation data, game rules and
        payment methods relevant to your use of the platforms and/ or facilities. We will not file our contract with you
        so please print it out of your records. These terms and conditions are subject to change(as set as below).
      </p>
      <p>
        The classic "lorem ipsum dolor sit amet.." passage is attributed to a remixing of the roman philosopher cicero's 45bc text
        be finibus bonorum bt malorum("on the extremes of good and evil").More specifically, the passage is thought to originate
        from section 1.10.32-33 of his text, with the most notable portion excerpted below:
      </p>
      <p>
        The classic "lorem ipsum dolor sit amet.." passage is attributed to a remixing of the roman philosopher cicero's 45bc text
        be finibus bonorum bt malorum("on the extremes of good and evil").More specifically, the passage is thought to originate
        from
      </p>
    </div>
    <div class="side_show_btn">
      <button class="custom_button" ng-click=closeMessageModal()>Accept</button>
      <button class="custom_button" ng-click=closeMessageModal()>Cancel</button>
    </div>
  </ion-content>
</ion-modal-view>
