<ion-modal-view class="custom-model statement-model game_summary  small-model shadow-yellow ">
  <ion-content scroll="false">
    <!-- <img src="img/close-button.png" class="cross-btn mar-tr" ng-click="closeGameModal();"> -->
    <div class="heading">
      Take into Game

    </div>
    <form>
      <div class="text-scroll">
        <div>
          <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
        <div class="text-center">
          <ion-checkbox color="dark" checked="true">
            <span class="auto-rebuy">Auto-rebuy at table</span>
          </ion-checkbox>
          <span class="balance">Your balance:
            <span>{{playerData.balance}}</span>
          </span>
        </div>
      </div>
      <div class="side_show_btn">
        <button class="custom_button" type='submit' ng-click=sitHereFunction(slider.value);closeGameModal();>Play</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
