<ion-modal-view class="custom-model statement-model game_summary  small-model shadow-yellow ">
  <ion-content scroll="false">
    <div class="heading">
      Take into Game
    </div>
    <div class="text-scroll">
      <div>
        <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>

      </div>
      <div class="text-center">
        <ion-checkbox color="dark" checked="true"> <span class="auto-rebuy">Auto-rebuy at table</span></ion-checkbox>
        <span class="balance">Your balance: <span>$2000</span></span>
      </div>
    </div>
    <div class="side_show_btn">
      <button class="custom_button" ng-click=closeMessageModal()>Play</button>

    </div>
  </ion-content>
</ion-modal-view>
