<ion-modal-view class="custom-model statement-model game_summary  small-model shadow-yellow ">
  <ion-content>
    <!-- <img src="img/close-button.png" class="cross-btn mar-tr" ng-click="closeGameModal();"> -->
    <div class="heading">
      Take into Game

    </div>
    <form>
      <div class="text-scroll">
        <!-- <div class="login_button row">
          <input class="col bg-yellow padd-lr" type="number" name="amount" ng-model="slider.value" placeholder="Enter the amount" maxlength="6"
            required="">
        </div> -->
        <div>
          <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
        <div class="text-center">
          <div ng-if="!autoBuy" class="padding-horizontal mar-negative">
            <ion-checkbox color="dark" ng-checked="auto.isAutoBuy" ng-true-value="true" ng-false-value="false" ng-model="auto.isAutoBuy">
              <span class="auto-rebuy">Auto Rebuy</span>
            </ion-checkbox>
          </div>
          <div ng-if="!postBlind && remainingActivePlayers >= 4" class="padding-horizontal mar-negative">
            <ion-checkbox color="dark" ng-checked="auto.payBigBlind" ng-true-value="true" ng-false-value="false" ng-model="auto.payBigBlind">
              <span class="auto-rebuy">Post Big Blind</span>
            </ion-checkbox>
          </div>
          <span class="balance padding-vertical">Your balance:
            <span>{{playerData.balance | number}}</span>
          </span>
        </div>
      </div>
      <div class="side_show_btn" ng-if="!autoBuy">
        <button class="custom_button" type='submit' ng-click=sitHereFunction(slider,auto);closeGameModal();>Play</button>
      </div>
      <div class="side_show_btn" ng-if="autoBuy">
        <button class="custom_button" type='submit' ng-click=reBuyFunction(slider);closeGameModal();>Play</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>