<ion-modal-view class="custom-model otp-modal side-otp shadow-yellow ">
  <ion-content class="otp" scroll="false">
    <div>
      <img src="img/close-button.png" class="cross-btn mar-tr" ng-click="closeModalOtp();">
    </div>
    <div class="heading"> OTP </div>
    <div class="signup">
      <div class="login_block">
        <form name="otp">
          <div>
            <p class="account">Please Enter the 4 Digit Verification Code send to your Email id and Mobile no</p>
          </div>
          <div class="login_button">
            <input class="col bg-yellow padd-lr" type="password" name="otp" ng-model="data.otp" placeholder="****" required>
          </div>
          <div>
            <a class="incorrect-otp">Incorrect OTP</a>
            <a class="resend-otp">Resend OTP</a>
          </div>
        </form>
      </div>
    </div>
    <div class="side_show_btn">
      <button class="custom_button" ng-click=VerifyOtp(data)>Ok</button>
    </div>
  </ion-content>
</ion-modal-view>
