<ion-modal-view
  class="custom-model statement-model change_password-model form-update private_table private_table_login"
>
  <ion-content>
    <!-- <div class="close" ng-click="closePrivateTableLogin()">
      <i class="icon ion-close-circled"></i>
    </div> -->
    <button
      class="button button-icon ion-close-circled cross-btn cancel"
      ng-click="closePrivateTableInfo();"
    ></button>
    <div class="heading">Private Table Created !</div>
    <div class="field ">
      <div class="mar-bot">
        Your Password for Private Table
        <b> {{ privateTableData.tableName }} </b> is
        <span class="">{{ privateTableData.code }}</span>
        Please Share this password to your friends !!
      </div>
      <div class="marbot">
        <div class="referral-invites">
          <!-- class="button button-block button-balanced greenbg" -->
          <!-- <a href="">
            <i class="ion-help-buoy"></i>
            <span class="">Invite to Table</span> -->
          <!-- class="private-referral-code" -->
          <img
            src="img/whatsup.svg"
            alt=""
            height="42"
            ng-click="shareOnWhatsapp()"
          />
          <!-- </a> -->
          <!-- class="button button-block bluebg" -->
          <!-- <a href="" >
            <i class="ion-share"></i>
            <span class="">Invite to Table</span> -->
          <img
            src="img/sharesocial.svg"
            alt=""
            height="42"
            ng-click="socialShare()"
          />
          <!-- </a> -->
        </div>
      </div>
      <div class="padding-top right copy-code">
        <a ng-click="copyCode(privateTableData.code)">Click to copy password</a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
