<ion-modal-view
  class="custom-model statement-model change_password-model form-update private_table private_table_login"
>
  <ion-content>
    <!-- <div class="close" ng-click="closePrivateTableLogin()">
      <i class="icon ion-close-circled"></i>
    </div> -->
    <button
      class="button button-icon ion-close-circled cross-btn cancel"
      ng-click="closePrivateTableLogin();"
    ></button>
    <div class="heading">Private Table Log In</div>
    <div class="field ">
      <div class="mar-bot">
        Enter Your Password for Private Table
        <b> {{ tableName }} </b>
      </div>
      <form name="createTable">
        <div class="rel mar-bot">
          <div class="input-select">
            <input
              type="text"
              class="padd-lr color-white bor-bot"
              name="tablePassword"
              ng-model="data.password"
              placeholder="Table Password*"
              maxlength="4"
              minlength="4"
              required
            />
          </div>
          <span
            class="valid"
            ng-show="createTable.tablePassword.$touched && createTable.tablePassword.$invalid"
            >* Table Password is required.</span
          >
          <span class="valid" ng-if="invalidCredentials"> {{ showError }}</span>
        </div>

        <button
          type="submit"
          class="custom_button"
          ng-click="goToPrivateTable(data)"
          promise-btn="createPrivateTablePromise"
          ng-disabled="createTable.$invalid"
        >
          Log In
        </button>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
