<ion-popover-view class="table-info-popover">
  <ion-content class="text-center">
    <!-- <div class="close" ng-click="closeTableInfoModal()">
        <img src="img/close.png">
      </div> -->
    <!-- <div class="heading">Table Info</div> -->
    <table>
      <tr>
        <td class="text-left">
          Table Name
        </td>
        <td class="text-right">
          {{ table.name }}
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Table Type
        </td>
        <td class="text-right">
          {{ table.type }}
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Game Type
        </td>
        <td class="text-right">
          {{ table.gameType }}
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Small Blind
        </td>
        <td class="text-right">
          {{ table.smallBlind }}
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Big Blind
        </td>
        <td class="text-right">
          {{ table.smallBlind }}
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Min Buy-in
        </td>
        <td class="text-right">
          {{ table.minimumBuyin }}
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Max Buy-in
        </td>
        <td class="text-right">
          {{ table.maximumBuyin }}
        </td>
      </tr>
    </table>

    <!-- <div class="ok">
      <button ng-click="closeTableInfoModal()">OK</button>
    </div> -->
  </ion-content>
</ion-popover-view>
