<ion-modal-view
  class="custom-model statement-model room_summary room_summary-potrate small-model side-show shadow-yellow "
>
  <ion-content>
    <div class="heading">
      Terms And Conditions
      <!-- <img src="img/close-button.png" class="cross-btn" ng-click="closeTermsModal();"> -->
      <button
        class="button button-icon ion-close-circled cross-btn cancel"
        ng-click="closeTermsModal();"
      ></button>
    </div>
    <div class="text-scroll">
      <p>
        Important-please read these terms and conditions carefully before
        accepting these agreements, then print these terms and conditions store
        them along with confirmation emails,SMS messages,additional terms,
        transation data, game rules and payment methods relevant to your use of
        the platforms and/ or facilities. We will not file our contract with you
        so please print it out of your records. These terms and conditions are
        subject to change(as set as below).
      </p>
      <p>
        The classic "lorem ipsum dolor sit amet.." passage is attributed to a
        remixing of the roman philosopher cicero's 45bc text be finibus bonorum
        bt malorum("on the extremes of good and evil").More specifically, the
        passage is thought to originate from section 1.10.32-33 of his text,
        with the most notable portion excerpted below:
      </p>
      <p>
        The classic "lorem ipsum dolor sit amet.." passage is attributed to a
        remixing of the roman philosopher cicero's 45bc text be finibus bonorum
        bt malorum("on the extremes of good and evil").More specifically, the
        passage is thought to originate from
      </p>
    </div>
    <div class="side_show_btn padding">
      <button class="custom_button" ng-click="closeTermsModal()">Accept</button>
      <button class="custom_button" ng-click="closeTermsModal()">Cancel</button>
    </div>
  </ion-content>
</ion-modal-view>
