<ion-modal-view class="custom-model statement-model profile_summary  small-model shadow-yellow ">
  <ion-content scroll="false">
    <img src="img/close-button.png" class="cross-btn mar-tr" ng-click="closeGameModal();">
    <div class="heading">
      Profile Info

    </div>
    <div class="row">
      <div class="col">
        <div class="profile-pic" ng-click="modalProfile();">
          <img ng-src="{{image | serverimage}}" class="pic img-responsive">
        </div>
        Player Id
        <span>4350784968456</span>
        <h4>Martin Locura</h4>
      </div>
      <div class="col">
        <div>
          <div>
            <i class="icon ion-ios-location"></i> location
            <br>
            <span>Mumbai,India</span>
          </div>
          <div>
            <i class="icon  ion-ios-email"></i> Email ID<br>
            <span>martin@gmail.com</span>
          </div>
          <div>
            <i class="icon  ion-ios-telephone"></i> Mobile No.<br>
            <span>9852273001</span>
          </div>
          <div>
            <i class="icon  ion-social-buffer"></i> Balance
            <br>
            <span>354657</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
