<ion-modal-view class="custom-model statement-model game_summary voucher_summary small-model shadow-yellow ">
  <ion-content scroll="false">
    <img src="img/close-button.png" class="cross-btn mar-tr" ng-click="closeVoucherModal();">
    <div class="heading">
      Enter Voucher Number
    </div>
    <div class="voucher-mar signup">
      <form name="login">
        <div class="login_button row">
          <input class="col bg-yellow padd-lr" type="text" name="mobile" ng-model="data.mobile" placeholder="Voucher No" minlength="10"
            maxlength="10" required>
        </div>
      </form>
    </div>
    <div class="side_show_btn">
      <button class="custom_button" ng-click=closeMessageModal()>Submit</button>
    </div>
  </ion-content>
</ion-modal-view>
