<div class="current-round">
  <!-- <pre>{{players}}</pre> -->
  <div class="tip_animate p1" ng-if="players[0]">
    <img src="img/coin.svg" class="coin">{{players[0].currentRoundAmt}}
  </div>
  <div class="tip_animate p2" ng-if="players[1]">
    <img src="img/coin.svg" class="coin">{{players[1].currentRoundAmt}}
  </div>

  <div class="tip_animate p3" ng-if="players[2]">
    <img src="img/coin.svg" class="coin">{{players[2].currentRoundAmt}}
  </div>

  <div class="tip_animate p4" ng-if="players[3]">
    <img src="img/coin.svg" class="coin">{{players[3].currentRoundAmt}}
  </div>

  <div class="tip_animate p5" ng-if="players[4]">
    <img src="img/coin.svg" class="coin">{{players[4].currentRoundAmt}}
  </div>

  <div class="tip_animate p6" ng-if="players[5]">
    <img src="img/coin.svg" class="coin">{{players[5].currentRoundAmt}}
  </div>

  <div class="tip_animate p7" ng-if="players[6]">
    <img src="img/coin.svg" class="coin">{{players[6].currentRoundAmt}}
  </div>

  <div class="tip_animate p8" ng-if="players[7]">
    <img src="img/coin.svg" class="coin">{{players[7].currentRoundAmt}}
  </div>

  <div class="tip_animate p9" ng-if="players[8]">
    <img src="img/coin.svg" class="coin">{{players[8].currentRoundAmt}}
  </div>

</div>
