<div class="custom_menu option_menu" ng-class="{'menu_open':leftMenu}" ng-click="closeAll()">
  <div class="menu_cont" ng-click="$event.stopPropagation()">


    <div class="heading">
      <i class="icon ion-ios-arrow-back" ng-click="closeLeftMenu()"></i>
      <span> Histroy </span>
    </div>
    <div>
      <div class="dealer-history">
        <p>Dealer: welocome karan won $100 </p>
      </div>
      <div class="dealer-history">
        <p>Dealer: welocome karan</p>
      </div>
      <div class="dealer-history">
        <p>Dealer: welocome karan </p>
        <div>
          <div class="row">
            <div class="col"><img src="img/card_front.png" alt=""></div>
            <div class="col">
              <img src="img/card_front.png" alt="card image">
            </div>
            <div class="col">
              <img src="img/card_front.png" alt="card image">
            </div>
            <div class="col">
              <img src="img/card_front.png" alt="card image">
            </div>
            <div class="col">
              <img src="img/card_front.png" alt="card image">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
