<div class="custom_menu option_menu" ng-class="{'menu_open':leftMenu}" ng-click="closeAll()">
  <div class="menu_cont" ng-click="$event.stopPropagation()">


    <div class="heading">
      <i class="icon ion-ios-arrow-back" ng-click="closeLeftMenu()"></i>
      <span> History </span>
    </div>
    <div ng-repeat="history in showHistory">
      <div ng-repeat="displayHistory in history">
        <div class="dealer-history">
          <p>{{displayHistory.message}} </p>
          <div>
            <div class="row" ng-repeat="card in displayHistory.cards">
              <div class="col col-20" ng-repeat="cards in card">
                <card card="{{cards}}"></card>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
