<div class="plyr player{{pos}}" ng-class="{'no_player':!player && !sitHere,'sit_here':sitHere}">
  <!-- before Player Sitting -->
  <div class="rel" ng-if="sitHere">
    <div class="player_pic">
      <img src="img/sithere.png" class="pic">
    </div>
  </div>
  <div class="rel" ng-if="!player && !sitHere">
    <div class="player_pic">
      <img src="img/not.png" class="pic">
    </div>
  </div>
  <!-- after Player Sitting -->
  <div class="rel" ng-if="!sitHere && player">
    <!-- <div class="tcard tcard{{pos}}">
      <card class="none card-rotate-right" card='NONE'> </card>
      <card class="none card-rotate" card='NONE'> </card>
    </div> -->
    <!-- <div class="tcard tcard{{pos}}" ng-if="player.cards.length==0">
        <card card='NONE' class="none card-rotate-right" ng-style="style" class="low-opacity" width="35" height="45"> </card>
        <card card='NONE' class="none card-rotate-right" ng-style="style" class="low-opacity" width="35" height="45"> </card>
    </div> -->
    <div class="tcard tcard{{pos}}" ng-if="player.cards.length==1">
      <card card='DONE' class="none card-rotate-right" ng-style="style"> </card>
      <card card='NONE' class="none card-rotate" ng-style="style" class="low-opacity"></card>
    </div>
    <div class="tcard tcard{{pos}}" ng-if="player.cards.length==2">
      <card card='DONE' class="none card-rotate-right" ng-style="style"> </card>
      <card card='DONE' class="none card-rotate" ng-style="style"> </card>
    </div>


    <div class="you" ng-if="">
      You
    </div>
    <div class="winner" ng-if="player.winner && player.winRank==1">
      <img src="img/table/winner_crown.png" class="crown">
      <img src="img/table/winner_belt.png" class="belt">
    </div>

    <div class="player_pic">
      <img src="img/player_pic.png" class="pic">
      <div class="border_loader">
      </div>
    </div>

    <div class="player_badge dealer" ng-if="player.isDealer">
      <div> D </div>
    </div>
    <div class="player_badge smallblind" ng-if="player.isSmallBlind">
      <div> SB </div>
    </div>
    <div class="player_badge bigblind" ng-if="player.isBigBlind">
      <div> BB </div>
    </div>
    <div class="details">
      <div class="turn_status all_in" ng-if="player.isFold">Fold</div>
      <div class="turn_status all_in" ng-if="player.isAllIn">All In</div>
      <div class="turn_status call" ng-if="player.hasChecked">Checked</div>
      <div class="turn_status call" ng-if="player.hasCall">Call</div>
      <div class="name">{{player.user.name}}</div>
      <div class="amt">{{player.user.balance}}</div>
    </div>
  </div>
</div>
