<!-- <div class="total_played_coin" ng-if="players">
  <span ng-repeat="pot in pots" ng-if="!pot.winner">
    <img src="img/coin.svg" class="coin">{{pot.totalAmount | number}} </span>
</div> -->
<div class="total_played_coin" ng-if="players">
  <span ng-if="pots[0] && !pots[0].winner">
    <img src="img/coin.svg" class="coin">{{pots[0].totalAmount | number}}
  </span>
  <span ng-if="pots[1] && !pots[1].winner">
    <img src="img/coin.svg" class="coin">{{pots[1].totalAmount | number}}
  </span>
  <span ng-if="pots[2] && !pots[2].winner">
    <img src="img/coin.svg" class="coin">{{pots[2].totalAmount | number}}
  </span>
  <span ng-if="pots[3] && !pots[3].winner">
    <img src="img/coin.svg" class="coin">{{pots[3].totalAmount | number}}
  </span>
  <span ng-if="pots[4] && !pots[4].winner">
    <img src="img/coin.svg" class="coin">{{pots[4].totalAmount | number}}
  </span>
  <span ng-if="pots[5] && !pots[5].winner">
    <img src="img/coin.svg" class="coin">{{pots[5].totalAmount | number}}
  </span>
  <span ng-if="pots[6] && !pots[6].winner">
    <img src="img/coin.svg" class="coin">{{pots[6].totalAmount | number}}
  </span>
</div>
<!-- //winner Players -->
<div class="total_played_coin coin1" ng-if="players[0].isWinner">
  <span ng-show="players[0].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[0].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin2" ng-if="players[1].isWinner">
  <span ng-show="players[1].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[1].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin3" ng-if="players[2].isWinner">
  <span ng-show="players[2].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[2].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin4" ng-if="players[3].isWinner">
  <span ng-show="players[3].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[3].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin5" ng-if="players[4].isWinner">
  <span ng-show="players[4].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[4].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin6" ng-if="players[5].isWinner">
  <span ng-show="players[5].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[5].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin7" ng-if="players[6].isWinner">
  <span ng-show="players[6].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[6].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin8" ng-if="players[7].isWinner">
  <span ng-show="players[7].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[7].winnerDetails.amount | number}}
  </span>
</div>
<div class="total_played_coin coin9" ng-if="players[8].isWinner">
  <span ng-show="players[8].winnerDetails">
    <img src="img/coin.svg" class="coin">{{players[8].winnerDetails.amount | number}}
  </span>
</div>
