<div class="tip_animate anime-p1 p1" ng-if="players[0].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}
</div>
<div class="tip_animate anime-p2 p2" ng-if="players[1].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p3 p3" ng-if="players[2].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p4 p4" ng-if="players[3].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p5 p5" ng-if="players[4].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p6 p6" ng-if="players[5].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p7 p7" ng-if="players[6].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p8 p8" ng-if="players[7].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>

<div class="tip_animate anime-p9 p9" ng-if="players[8].playerNo == PlayerNo">
  <img src="img/coin.svg" class="coin">{{amount | number}}</div>
